Temperatura/WebContent/wsdl/convertidor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ClasesImpl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ClasesImpl" xmlns:intf="http://ClasesImpl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ClasesImpl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="farenheitToCelsius">
    <complexType>
     <sequence>
      <element name="farenheit" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="farenheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="farenheitToCelsiusReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="celsiusToFarenheit">
    <complexType>
     <sequence>
      <element name="celsius" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="celsiusToFarenheitResponse">
    <complexType>
     <sequence>
      <element name="celsiusToFarenheitReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="celsiusToFarenheitRequest">

      <wsdl:part element="impl:celsiusToFarenheit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="farenheitToCelsiusResponse">

      <wsdl:part element="impl:farenheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="farenheitToCelsiusRequest">

      <wsdl:part element="impl:farenheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="celsiusToFarenheitResponse">

      <wsdl:part element="impl:celsiusToFarenheitResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="convertidor">

      <wsdl:operation name="farenheitToCelsius">

         <wsdl:input message="impl:farenheitToCelsiusRequest" name="farenheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:farenheitToCelsiusResponse" name="farenheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="celsiusToFarenheit">

         <wsdl:input message="impl:celsiusToFarenheitRequest" name="celsiusToFarenheitRequest">

       </wsdl:input>

         <wsdl:output message="impl:celsiusToFarenheitResponse" name="celsiusToFarenheitResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="convertidorSoapBinding" type="impl:convertidor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="farenheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="farenheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="farenheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="celsiusToFarenheit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="celsiusToFarenheitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="celsiusToFarenheitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="convertidorService">

      <wsdl:port binding="impl:convertidorSoapBinding" name="convertidor">

         <wsdlsoap:address location="http://localhost:8080/Temperatura/services/convertidor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
